<div>
    <header class="intro-header" style="background-image: url('http://clean-blog-angular.hunor.me/img/home-bg.jpg')">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>ESP Blog</h1>
                        <hr class="small">
                        <span class="subheading">{{currentDate | date:"EEEE, dd/MM/yyyy" }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <h2>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn btn-primary float-right jh-create-entity create-story" [routerLink]="['../story-new']">
            <span class="fa fa-plus"></span>
            <span >
            Create new Story
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10" *ngIf="stories">
                <table class="table">
                    <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                    <tr *ngFor="let story of stories ;trackBy: trackId">
                        <h2 [routerLink]="['../story', story.id ]"><a href="javascript:void(0);">{{ story.title }}</a></h2>
                        <small>Posted on {{story.date | date:'dd/MM/yyyy'}} by {{story.user?.firstName}} {{story.user.lastName}}</small>
                        <div [innerHTML]=" limitHtml(story.content,230)"></div>
                        <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn-group mb-2 mt-1">
                            <button type="submit"
                                    [routerLink]="['../story/'+story.id+'/edit']"
                                    queryParamsHandling="merge"
                                    class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'story/'+ story.id + '/delete'} }]"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                        <hr>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4 col-md-2">
                <h4>Popular posts</h4>
                <table class="table">
                    <tbody>
                    <tr *ngFor="let story of popularStories">
                        <h6 [routerLink]="['../story', story.id ]"><a href="javascript:void(0);">{{ story.title }}</a></h6>
                        <small>Posted on {{story.date | date:'dd/MM/yyyy'}}</small>
                        <hr>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
