
<div *ngIf="comment">
    <h2><span>Comment</span> {{comment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Content</span></dt>
        <dd>
            <span>{{comment.content}}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
            <span>{{comment.date | date:'medium'}}</span>
        </dd>
        <dt><span>Story</span></dt>
        <dd>
            <div *ngIf="comment.story">
                <a [routerLink]="['/story', comment.story?.id]">{{comment.story?.id}}</a>
            </div>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{comment.user?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'comment/'+ comment.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
