<header class="intro-header" style="background-image: url('http://clean-blog-angular.hunor.me/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>Clean Blog</h1>
                    <hr class="small">
                    <span class="subheading">Clone by PQH</span>
                </div>
            </div>
        </div>
    </div>
</header>
